---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Java from "./icons/Java.astro"
import SQlite from "./icons/SQlite.astro"
import Node from "./icons/Node.astro"
import Sequelize from "./icons/Sequelize.astro"
import Express from "./icons/Express.astro"
import Javascript from "./icons/Javascript.astro"
import Html from "./icons/Html.astro"
import Css from "./icons/Css.astro"
import Postgresql from "./icons/Postgresql.astro"
import Python from "./icons/Python.astro"
import Django from "./icons/Django.astro"
import Pandas from "./icons/Pandas.astro"

const TAGS = {
  SQlite: {
    name: "SQLite",
    icon: SQlite,
  },
  JAVA :{
    name: "Java",
    icon: Java,
  },
  NODE: {
    name: "Node.js",
    icon: Node,
  },
  EXPRESS: {
    name: "Express.js",
    icon: Express,
  },
  CSS: {
    name: "CSS",
    icon: Css,
  },
  HTML: {
    name: "HTML",
    icon: Html,
  },
  PYTHON: {
    name: "Python",
    icon: Python,
  },
  PANDAS : {
    name: "Pandas",
    icon: Pandas,
  },
  DJANGO: {
    name: "Django",
    icon: Django,
  },
  POSTGRESQL: {
    name: "Postgresql",
    icon: Postgresql,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: Javascript,
  },
  SEQUELIZE: {
    name: "Sequelize",
    icon: Sequelize
  }

}
const PROJECTS = [
  {
    title: "AsproDesktop",
    description:
      "Aplicación desktop compilada con jlink y desarrollada con JavaFX para la gestión documental de vehículos de transporte público",
    image: "/projects/aspro-desktop.png",
    tags: [TAGS.SQlite, TAGS.JAVA],
    github: null
  },
  {
    title: "Django BI",
    description: 
      "Proyecto de análisis de datos con Pandas, más entrenamiento de un modelo SVR de ScikitLearn".concat(
      "; exposición HTTP con Django Rest Framework JQuery y Ajax",
      ),
    github: "https://github.com/Sauloopez/BI",
    image: "/projects/bi-project.png",
    tags: [TAGS.SQlite, TAGS.PYTHON, TAGS.PANDAS, TAGS.DJANGO, TAGS.JAVASCRIPT]
  },
  {
    title: "Bienestar Digital Unimeta",
    description:
      "Realizado en Django, permite recopilar las asistencias de los estudiantes que participan".concat(
      " en las actividades de Bienestar Institucional de la Corporación Universitaria del Meta,",
      " permitiendo también la descarga de una hoja de cálculo con la información recopilada desde el AdminSite de Django."
      ),
    image: "/projects/bienestar-digital.png",
    tags: [TAGS.POSTGRESQL, TAGS.PYTHON, TAGS.PANDAS, TAGS.JAVASCRIPT, ]
  },
  {
    title: "Asprovespulmeta - Web Page",
    description:
      "Página web de la Asociación de Propietarios de Vehículos de Transporte Público del Meta S.A.",
    link: "https://asprovespulmeta.co",
    image: "/projects/aspro-web-page.png",
    tags: [TAGS.POSTGRESQL, TAGS.NODE, TAGS.SEQUELIZE, TAGS.EXPRESS, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-wrap w-full mb-2 gap-2 justify-start">
          {tags.map((tag) => (
            <li class="flex flex-shrink-0 w-1/4">
              <span
                class={`flex w-full m-1 justify-center gap-x-2 rounded-full text-xs bg-black text-white py-1 px-2 `}
              >
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



